    <div class="container">
      <h3 style="color: green;">{{msg}}</h3>
      <h3 class="text-center"><u>Create Account</u></h3>
      <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <form #userForm="ngForm" (ngSubmit)='onSubmit(userForm.value)'>
          <div class="form-group">
            <label><span class="req"></span>User Name </label>
           <input required minlength="1" type="text" #user_NameRef='ngModel' name="user_Name" (change)="oncap($event)" ngModel class="form-control">
            <div *ngIf='user_NameRef.errors  && user_NameRef.touched' class="alert alert-danger">
                <div [hidden]='!user_NameRef.errors.required'>Provide User Name</div>
                <div *ngIf='user_NameRef.errors.pattern'>Minimum of 5 characters length</div>
            </div>
        </div>
            <div class="form-group">
                <label><span class="req"></span>Password </label>
          <input required minlength="3" type="password" #passwordRef='ngModel' name="password" ngModel class="form-control">
                <div *ngIf='passwordRef.errors  && passwordRef.touched' class="alert alert-danger">
                    <div [hidden]='!passwordRef.errors.required'>Provide Password</div>
                </div>
            </div>
            <div class="form-group">
              <label><span class="req"></span>Contact-Number </label>
        <input required length="10" type="text" maxlength=10 minlength=10 pattern="[0-9]*" #phone_NumberRef='ngModel' name="phone_Number" ngModel class="form-control">
              <div *ngIf='phone_NumberRef.errors  && phone_NumberRef.touched' class="alert alert-danger">
                  <div [hidden]='!phone_NumberRef.errors.required'>Provide Contact-Number</div>
              </div>
          </div>
          <div class="form-group">
            <label><span class="req"></span>Login Name </label>
           <input required minlength="1" type="text" #login_NameRef='ngModel' name="login_Name" ngModel (change)="oncap($event)" class="form-control">
            <div *ngIf='login_NameRef.errors  && login_NameRef.touched' class="alert alert-danger">
                <div [hidden]='!login_NameRef.errors.required'>Provide Login Name</div>
                <div *ngIf='login_NameRef.errors.pattern'>Minimum of 5 characters length</div>
            </div>
          </div>
        <input  [disabled]="userForm.invalid" type="submit" value="Submit" class="btn btn-primary col align-self-center">
        </form>
      </div>
      <div class="col-sm-4"> </div>
      
    </div>
  