<div class="col-lg-4 m-auto d-block">
  <br><br>
  <h3 class="text-center"><u>Transfer Amount</u></h3>
  <div>
      <form #customerForm="ngForm">
      <div class="form-group">
        <label for="acc_id2">Enter User Id</label>
        <input type="number"   id="acc_id2" required [(ngModel)]="acc_id2" name="acc_id2"  class="form-control">
  <label for="accBal">Enter Amount to transfer</label>
  <input type="number"   id="amount" required [(ngModel)]="amount" name="amount"  class="form-control">
</div>

<button type="submit" class="btn btn-success" (click)="transferamount()">Submit</button>
</form>
</div>
</div>

<p align="center">{{ result }}</p>